@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: radial-gradient(72.65% 50% at 50% 100%, #FFF 24%, #D7D7D7 100%);
    --foreground: #282828;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Kreon, Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
